.left-container
  .left-header
    %h.left-header__user-name
      = current_user.name
    %ul.left-header__menu
      %li.left-header__new-group
        = link_to new_group_path, class: "left-header__btn" do
          = fa_icon 'edit'
      %li.left-header__edit-group
        =link_to edit_user_path(current_user), class: "left-header__btn" do
          = fa_icon 'cog'
  .left-content
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。